<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./style.css">
    <title>Vue To Do List</title>
</head>
<body>
    <div id="app" class="container">
        <img src="./logo.png" alt="logo">
        <div>
            <input type="text" placeholder="Nuova attività" v-model="addTodoText" @keyup.enter="addTodo()">
            <button class="glow-on-hover" @click="addTodo()" :disabled="addTodoText.trim() === ''">Add</button>
        </div>

        <div>
            <ul>
              <li v-for="(todo, index) in todos" :key="todo.text" class="todo-item">
                <span v-if="todo.done" class="line-through">{{ todo.text }}</span>
                <span v-else class="todo-text">{{ todo.text }}</span>
                <span @click="removeTodo(index)"><i class="fa-solid fa-xmark"></i></span>
              </li>
            </ul>
            <p v-if="todos.length === 0">Hai fatto tutto, esci e divertiti!!</p>
        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>